<section ng-repeat="q in quizz"> 
    <header>
        <h1>{{ q.title }}</h1>
        <p>
            {{ q.description }}
        </p>
    </header>
    
    <article ng-repeat="question in q.questions">
        <header>
            <h2>{{ question.title }}</h2>
            <p>
                {{ question.description }}
            </p>
        </header>
        
        <!-- md-checkbox -->
        <section ng-show="question.type_anwser == 'multiple'">
            <md-checkbox aria-label="checkbox" ng-model="multiple" ng-repeat="choice in question.choice">{{ choice.anwser }}</md-checkbox>
        </section>
        
        <!-- md-chip -->
        <section ng-show="question.type_anwser == 'delete'">
            <md-chips ng-model="chipsDelete" 
                      md-max-chips="5">  
                <md-chip-template>
                  <strong>{{$chip.anwser}}</strong>
                </md-chip-template>
            </md-chips>
        </section>
        
        <!-- md-radio -->
        <section ng-show="question.type_anwser == 'single'">
            <md-radio-group ng-model="single">
                
                <md-radio-button ng-repeat="choice in question.choice" ng-value="choice">
                        {{ choice.anwser }}
                </md-radio-button>
                
            </md-radio-group>
        </section>
        
        <!-- md-chips -->
        <section ng-show="question.type_anwser == 'free'">
            <md-chips ng-model="chipsfree" 
                      placeholder="Enter an answer "
                      secondary-placeholder="+Anwser"
                      md-max-chips="question.max_answer">  
                <md-chip-template>
                  <strong>{{$chip}}</strong>
                </md-chip-template>
            </md-chips>
        </section>
        
        <!-- md-button -->
        <md-button ng-click="validate(question, newAnswer)">suivant</md-button>
        
    </article>
    
</section>