<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /
  RewriteRule ^api api/index.php [NE,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*) /index.html [NE,L]
</IfModule>